AZURE_STORAGE_ACCOUNT_NAME=[YOUR_AZURE_STORAGE_ACCOUNT_NAME]
AZURE_STORAGE_ACCOUNT_KEY=[YOUR_AZURE_STORAGE_ACCOUNT_KEY]

# These URIs should point to the vector database used for production and testing, respectively. The format is expected to be "az://[CONTAINER_NAME]/[PATH]" for Azure Blob Storage or "workbench/[PATH]" for local testing. This assumes a container named "vectordb" is used in Azure Blob Storage for storing the vector database files. Adjust the container name and path as necessary for your specific setup.
VECTORDB_URI=az://vectordb/prod
# VECTORDB_URI=workbench/vectordb_test_mode
TEST_VECTORDB_URI=az://vectordb/test
# TEST_VECTORDB_URI=workbench/test-db

# AzureAI settings TAIC
AZURE_AI_ENDPOINT=https://[YOUR_RESOURCE_NAME].cognitiveservices.azure.com/openai/deployments/text-embedding-3-large
AZURE_AI_API_KEY=[YOUR_AZURE_AI_API_KEY]

AZURE_OPENAI_ENDPOINT=https://[YOUR_RESOURCE_NAME].cognitiveservices.azure.com/openai/v1/
AZURE_OPENAI_API_KEY=[YOUR_AZURE_OPENAI_API_KEY]

# OpenAI / Azure OpenAI (required)
AZURE_OPENAI_ENDPOINT=https://[YOUR_RESOURCE_NAME].cognitiveservices.azure.com/openai/v1/
AZURE_OPENAI_API_KEY=[YOUR_AZURE_OPENAI_API_KEY]
