output/
!tests/data/*
__pycache__
python/.env
.env

site/**

# This folder is for various notebooks and stuff I want handy while developing
workbench/

# Ignore all files inside the notebook folder except scripts and jupyter notebooks.
notebooks/*.*
notebooks/*/*
!notebooks/*.py
!notebooks/*.ipynb
!notebooks/readme.md


# Always include igniore files

!.gitignore
.vscode/settings.json
flask_session